@charset "UTF-8";
@import url("contents.scss.css");
:root {
	--maincolor: #0BA84A;
	--textcolor: #32323C;
	--gray: #87869C;
	--cream:#F5F5F3;
}

html, body {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-family: "Noto Sans", "Notosans JP", "Hiragino Sans", sans-serif;
  height: 100%;
  background: var(--cream);
  color: var(--textcolor);
  vertical-align: middle;
}
body {
  padding: 2rem;
}
main {
  flex: 1;
  display: flex;
  align-items: center
}
/*aタグreset*/
a {
  text-decoration: none;
  color: var(--textcolor);
  font-weight: bold;
  letter-spacing: .2rem;
}
a:hover {
  color: var(--maincolor);
}
a:active {
  color: inherit;
  text-decoration: none;
}
/*aタグreset*/
img {
  width: 100%;
}
header {
  display: flex;
  align-items: center;
  gap: 16px;
  color: var(--maincolor);
  border-bottom: 1px solid var(--maincolor);
  padding-bottom: 1rem;
}
footer {
  color: var(--maincolor);
  display: flex;
  justify-content: space-between;
  text-align: left;
  align-items: flex-end;
  letter-spacing: .2rem;
  font-size: 12px;
  border-top: 1px solid var(--maincolor);
  padding-top: 1rem;
}
h1, h2, h3, h4 {
  font-weight: 600;
}
h1 {
  font-size: 1.25rem;
  line-height: 1.75rem;
  letter-spacing: .15rem;
}
h2 {
  font-size: 1.125rem;
  line-height: 1.5rem;
  letter-spacing: .1rem;
}
h3 {
  font-size: .85rem;
  line-height: 1rem;
  letter-spacing: .1rem;
}
h4 {
  font-size: .75rem;
  line-height: 1rem;
  letter-spacing: .1rem;
}
p {
  font-size: .75rem;
  line-height: 1.15rem;
}
.top-itemgroup {
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: inherit;
}
.top-item {
  height: auto;
  transition: .2s;
}
.top-item:first-child {
  margin-top: -20px;
}
.top-item a {
  height: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.top-item:hover {
  transform: translateY(-10px);
  transition: .3s;
}
.top-item-image {
  max-width: 90%;
}
@media screen and (max-width:800px) {
  html, body {
    font-size: 12px;
  }
  .works-wrap {
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    width: auto;
  }
  .works-item a {
    gap: 8px;
    align-items: flex-start;
  }
}